In [5]:
import pandas as pd
import numpy as np

from pathlib import Path
import json
import cv2

import matplotlib.pyplot as plt
from infer import LitModule, get_embeddings, get_similarity, run_predict
from score import score_preds
%matplotlib inline

In [6]:
# model = "/data/hse/model/data25_convnext_small_ep10_img256/"
# device = "cuda:0"
# name = "convnext_256"
# gt_path = "/data/hse/data/"

In [7]:
# run_predict(name, model, device, "dev")
# run_predict(name, model, device, "test")
# score_preds("/data/hse/prediction/convnext_256/dev_small/preds.tsv", gt_path, ["tdev"], None)

In [10]:
path = "/data/hse/data/data_25/"

In [14]:
individual_id = []
image_path = []
image_size = []

for path in Path("/data/hse/data/data_25/").glob("*/*g"):
    iid = str(path.parent.name)
    img = cv2.imread(str(path))
    if img is not None:
        individual_id.append(iid)
        image_path.append(str(path))
        image_size.append(img.shape[:2])

In [15]:
df = pd.DataFrame({"individual_id": individual_id, "image_path": image_path, "image_size": image_size})

In [16]:
df = df.sample(frac=1.).reset_index(drop=True)
train = df.iloc[:-1000]
val = df.iloc[-1000:].reset_index(drop=True)
train.to_csv("/data/hse/data/train.csv", index=False)
val.to_csv("/data/hse/data/val.csv", index=False)

In [17]:
train

      individual_id                                  image_path  image_size
0          rl312068  /data/hse/data/data_25/rl312068/546810.jpg  (534, 400)
1          rl239976  /data/hse/data/data_25/rl239976/423806.jpg  (267, 200)
2          rl409994  /data/hse/data/data_25/rl409994/711975.png  (344, 400)
3          rf418509  /data/hse/data/data_25/rf418509/725686.jpg  (292, 400)
4          rl263572  /data/hse/data/data_25/rl263572/463769.jpg  (534, 400)
...             ...                                         ...         ...
87567      rf303502  /data/hse/data/data_25/rf303502/532165.jpg  (540, 400)
87568      rf156578  /data/hse/data/data_25/rf156578/268547.jpg  (267, 200)
87569      rl348006  /data/hse/data/data_25/rl348006/608272.jpg  (534, 400)
87570      rf357156  /data/hse/data/data_25/rf357156/623748.jpg  (400, 400)
87571      rl329958  /data/hse/data/data_25/rl329958/576995.jpg  (712, 400)

[87572 rows x 3 columns]